@charset "utf-8";

/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
	color:#000;background:#fff;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
}
input,select,textarea{
	font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
	border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
	text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}



/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
	text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
	display:inline;
}
.fn-left {
	float:left;
}
.fn-right {
	float:right;
}


body {
	background: #f6f6f6;
	font-family: Arial, Helvetica, sans-serif;
	color: #A0A0A0;
	font-size: 11px;
	border-top: solid 10px #b1412d;
}

h1,h2,h3 {
	color: #C0442C;
}

h1 {
	font-size: 48px;
	text-shadow: white 0px 0px 2px;
	font-family: Impact, Charcoal, Arial, sans-serif;
	display: inline;
}

h1 span {
	font-size: 36px;
	padding-left: 6px;
}

#header {
	width: 990px;
	margin: 0 auto;
}

#logo {
	padding: 40px 0 24px;
}

#logo a:hover {
  text-decoration: none;
}

#nav {
	background: #e7e7e7;
}

#nav ul {
	width: 990px;
	margin: 0 auto;
	padding: 14px 0 0;
}

#nav li {
	display: inline;
}

#nav li a {
	float: left;
	color: #555;
	margin-right: 50px;
	border-bottom: 4px solid transparent;
	text-decoration: none;
}

#nav li a:hover {
  color: #000;
  border-bottom-color: #ca5c41;
}

#nav li strong {
	font-family: Impact, Charcoal, Arial, sans-serif;
	font-size: 24px;
  	letter-spacing: 2px;
  	font-weight: normal;
	text-transform: uppercase;
	padding-bottom: 4px;
	display: block;
}

#nav li em {
	display: block;
	color: #999;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 80%;
	line-height: 15px;
}

#content, #footer {
	width: 990px;
	margin: 0 auto;
	padding: 20px 0;
}

#content {
	min-height: 300px;
	_height: 300px;
}

.blog-list li {
	padding: 8px 0;
}

#post-header {
	font-family: "Trebuchet MS", serif;
	font-size: 90%;
	padding-bottom: 2em;
}

.post-title {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-size: 2.8em;
	color: #C0442C;
	border: none !important;
}

.post-title span {
	color: #999;
}

.post-title a {
	position: relative;
	top: 2px;
	color: #C0442C;
}

.post-subtitle {
	margin: 0px 0px 0px 2em !important;
	font-size: 1.2em !important;
	border-bottom: 0 none !important;
}

.post-intro {
	margin: 10px 0 16px 6em;
}

#static-content {
	width: 790px;
	margin: 0 auto;
	color: #555;
	font-size: 14px;
	font-family: "DejaVu serif", Constantia, serif;
}

#static-content h1, #static-content h2, #static-content h3, #static-content h4, #static-content h5, #static-content h6 {
	margin: 1.5em 0 0 -100px;
	border-bottom: 3px solid #CCC;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: #999;
}

#static-content h1 {
	color: #C0442C;
}

#static-content .post-subtitle {
	margin-left: 0px !important;
}

#static-content h2 {
	font-size: 1.6em;
}

#static-content .item-meta {
	margin: 1em 0 0 0;
	color: #999;
}

#static-content #table-of-contents {
	margin: 2em 0 2em 0;
	font-size: 1.2em;
}

#static-content #table-of-contents a {
	color: #d1553d;
}

#static-content #table-of-contents ul {
	list-style: none;
	margin-top: 1.2em;
	font-size: 1.2em;
}

#static-content #table-of-contents ul ul {
	margin: 0.2em 0 0.5em 2em;
	font-size: 0.8em;
}

#static-content p {
	line-height: 1.4em;
	text-align: left;
	margin: 1.5em 0;
}

#static-content dl {
	margin: 1.5em 0;
}

#static-content dd {
	margin: 0 2em;
}

#static-content ol, #static-content ul {
	margin-left: 2em;
}

#static-content ol {
	list-style: decimal;
}

#static-content blockquote {
	border-left: 4px solid #DDD;
	padding-left: 0.7em;
	margin-left: 0.7em;
	color: #888;
}

#bookmark li {
	margin-top: 1em !important;
}

#bookmark h2 {
	border-bottom: 0 none !important;
	font-size: 115%;
	display: inline;
}

#bookmark h2 a {
	color: #d1553d;
}

#bookmark .bookmark-date {
	margin-left: 1em;
	color: #999;
	font-size: 90%;
}

#static-content .reference {
	font-size: 18px;
	border-bottom: none;
	border-top: 1px dashed #CCC;
	color: #BBB;
	padding-top: 10px;
}

#static-content .ref-item {
	color: #999;
	font-size: smaller;
}

#static-content .updated {
	color: #999;
	font-size: 11px;
}

/*** code syntax highlight style ***/
/* Chili -- js */
pre code {
    background: none repeat scroll 0 0 #F7F7F0;
    display: block;
    padding: 1em;
    color: #000;
    font-family: monospace;
    font-size: 12px;
    border: dashed 1px #ccc;
}
pre .comment { color: gray; }
pre .string { color: teal; }
pre .number, pre .date { color: red; }
pre .regexp { color: maroon; }
pre .keyword { color: navy; font-weight: bold; }
pre .object { color: DeepPink; }
pre .property { color: Purple; font-weight: bold; }
pre .function .keyword { color: RoyalBlue; font-weight: bold; }
pre .function .params { color: Coral; }
pre .literal { color: RoyalBlue; font-weight: bold; }